@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: #fff;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #20130a;
    font-size: 25px;
    font-weight: 800;
    margin-left: 60px;
}

.menu .navbar ul li {
    position: relative;
    float: left;

}

.menu .navbar ul li .button{
    font-size: 18px;
    padding: 20px;
    columns: #20130a;
    display: block;
    font-weight: 600;
}